{% extends "main/base.html" %}


{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Broj zdravstvene</td>
            <td>Ime pacijenta</td>
            <td>Prezime pacijenta</td>
            <td>Broj mobitela</td>
            <td>Razlog dolaska</td>
            <td>Odjel</td>
            <td>
                <a href="{% url 'pacijent_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Dodaj
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for pacijent in pacijent_list %}
            <tr>
                <td>{{pacijent.broj_zdravstvene}}</td>
                <td>{{pacijent.ime_pacijenta}}</td>
                <td>{{pacijent.prezime_pacijenta}}</td>
                <td>{{pacijent.broj_mobitela}}</td>
                <td>{{pacijent.razlog_dolaska}}</td>
                <td>{{pacijent.odjel}}</td>
                <td>
                    <a href="{% url 'pacijent_update' pacijent.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'pacijent_delete' pacijent.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}